<!DOCTYPE html>
<html lang="en">

<head>
	<link href="css/cf5f226b2c66.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <div th:include="layout :: head"></div>	
  
  <div class="content-wrapper">
  
    <div class="container-fluid">
      <!-- Breadcrumbs-->
    	
    	<div class="row">
	    	<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
				<div class="collection-char collection-char-missing collection-char-dark-side">
					<div class="char-portrait char-portrait-dark-side">
						<a class="char-portrait-link" href="/characters/imperial-probe-droid/">
							<div class="char-portrait-image"><img class="char-portrait-img" src="//swgoh.gg/static/img/assets/tex.charui_probedroid.png" alt="Imperial Probe Droid"></div>
						</a>
					</div>
					<div class="collection-char-name">
						<a class="collection-char-name-link" href="/characters/imperial-probe-droid/" rel="nofollow">Imperial Probe Droid</a>
					</div>
				</div>
			</div>
	    	
	    	
		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
			<div class="collection-char collection-char-light-side">
				<div class="player-char-portrait char-portrait-full char-portrait-full-gear-t12">
					<a href="/u/cauearua/collection/24/luke-skywalker-farmboy/" class="char-portrait-full-link" rel="nofollow">
						<img class="char-portrait-full-img initial loaded" data-src="//swgoh.gg/static/img/assets/tex.charui_luke_ep4.png" alt="Luke Skywalker (Farmboy)" height="80" width="80" src="//swgoh.gg/static/img/assets/tex.charui_luke_ep4.png" data-was-processed="true">
						<div class="char-portrait-full-gear"></div>
						<div class="star star1"></div>
						<div class="star star2"></div>
						<div class="star star3"></div>
						<div class="star star4"></div>
						<div class="star star5"></div>
						<div class="star star6"></div>
						<div class="star star7"></div>
						<div class="char-portrait-full-level">85</div>
						<div class="char-portrait-full-gear-level">XII</div>
					</a>
				</div>
				<div class="collection-char-gp" data-toggle="tooltip" data-container="body" title="" data-original-title="Power 19,299 / 22,125">
					<div class="collection-char-gp-progress">
					<div class="collection-char-gp-progress-bar" style="width: 87.23%;"></div>
					</div>
					<div class="collection-char-gp-label">
					<span class="collection-char-gp-label-value">
					87
					</span>
					<span class="collection-char-gp-label-percent">%</span>
					</div>
				</div>
				<div class="collection-char-name"><a class="collection-char-name-link" href="/u/cauearua/collection/luke-skywalker-farmboy/" rel="nofollow">Luke Skywalker (Farmboy)</a></div>
			</div>
		</div>
    	
    	</div> 
    	
    	<div class="row" id="chars">
    	  
    	</div>
    </div>
    <div th:include="layout :: foot"></div>	    
  </div>
</body>


<script src="js/comuns/charactes.js"></script>


</html>
